In [1]:
import requests
import pandas as pd
import numpy as np

In [2]:
# url = 'http://pages.cs.wisc.edu/~anhai/data/784_data/movies1/csv_files/imdb.csv'
# open('imdb.csv', 'wb').write(requests.get(url).content)
imdb_df = pd.read_csv('imdb.csv', sep=',', encoding='utf-8', engine='python',
                      error_bad_lines=False, warn_bad_lines=False, dtype=str, na_filter=False).fillna("")

In [6]:
lst_col = 'Director'
x = imdb_df.assign(**{lst_col:imdb_df[lst_col].str.split(',')})

imdb_split = pd.DataFrame({
    col:np.repeat(x[col].values, x[lst_col].str.len())
    for col in x.columns.difference([lst_col])
    }).assign(**{lst_col:np.concatenate(x[lst_col].values)})[x.columns.tolist()]

In [3]:
# url = 'http://pages.cs.wisc.edu/~anhai/data/784_data/movies1/csv_files/rotten_tomatoes.csv'
# open('rt.csv', 'wb').write(requests.get(url).content)
rt_df = pd.read_csv('rt.csv', sep=',', encoding='utf-8', engine='python',
                      error_bad_lines=False, warn_bad_lines=False, dtype=str, na_filter=False).fillna("")

In [7]:
lst_col = 'Director'
x = rt_df.assign(**{lst_col:rt_df[lst_col].str.split(',')})

rt_split = pd.DataFrame({
    col:np.repeat(x[col].values, x[lst_col].str.len())
    for col in x.columns.difference([lst_col])
    }).assign(**{lst_col:np.concatenate(x[lst_col].values)})[x.columns.tolist()]

In [8]:
imdb_split.head()

,Id,Name,YearRange,ReleaseDate,Director,Creator,Cast,Duration,RatingValue,ContentRating,Genre,Url,Description
0,city_of_missing_girls,City of Missing Girls,1940 1941 1942,"Mar 27, 1941 Wide",Elmer Clifton,"Oliver Drake,George Rosener",,1 hr. 13 min.,,Unrated,"Drama,Mystery & Suspense,Classics",http://www.rottentomatoes.com/m/city_of_missin...,"In this murder mystery, a female reporter inve..."
1,gay_divorcee,The Gay Divorcee,1933 1934 1935,"Oct 12, 1934 Limited",Mark Sandrich,"J. Hartley Manners,George Marion,Dorothy Yost,...",,1 hr. 47 min.,7.8/10,Unrated,"Drama,Romance,Musical & Performing Arts,Classi...",http://www.rottentomatoes.com/m/gay_divorcee/,One of the finest Fred Astaire and Ginger Roge...
2,divorcee,The Divorcée,1929 1930 1931,"Apr 19, 1930 Wide",Robert Z. Leonard,"Ursula Parrott,John Meehan,John Meehan, Jr.,Jo...",,1 hr. 23 min.,6.4/10,Unrated,"Drama,Romance,Classics",http://www.rottentomatoes.com/m/divorcee/,Norma Shearer earned an Academy Award for play...
3,1009470-hells_angels_on_wheels,Hells Angels on Wheels,1966 1967 1968,"Jan 1, 1967 Wide",Richard Rush,Robert Wright Campbell,"Adam Roarke,Jack Nicholson,Sabrina Scharf,Jana...",1 hr. 35 min.,4.4/10,R,"Classics,Action & Adventure",http://www.rottentomatoes.com/m/1009470-hells_...,"Jack Nicholson, in one of his earliest roles, ..."
4,the-miracle-woman-1932,The Miracle Woman,1984 1985 1986,"Jan 1, 1985 Wide",Ketan Mehta,"Shafi Hakim,Hriday Lani",,,,Unrated,Drama,http://www.rottentomatoes.com/m/the-miracle-wo...,

In [10]:
rt_split.head()

,Id,Name,Year,Release Date,Director,Creator,Actors,Cast,Language,Country,Duration,RatingValue,RatingCount,ReviewCount,Genre,Filming Locations,Description
0,tt0054215,Psycho,1960,8 September 1960 (USA),Alfred Hitchcock,"Joseph Stefano,Robert Bloch","Anthony Perkins,Janet Leigh,Vera Miles","Anthony Perkins,Vera Miles,John Gavin,Janet Le...",English,USA,109 min,8.6,"379,998","976 user,290 critic","Horror,Mystery,Thriller","Title and Trust Building, 114 West Adams Stree...","A Phoenix secretary steals $40,000 from her em..."
1,tt0088993,Day of the Dead,1985,19 July 1985 (USA),George A. Romero,George A. Romero,"Lori Cardille,Terry Alexander,Joseph Pilato","Lori Cardille,Terry Alexander,Joseph Pilato,Ja...",English,USA,96 min,7.2,"46,421","414 user,177 critic","Action,Drama,Horror","Sanibel Island, Florida, USA",A small group of military officers and scienti...
2,tt0032484,Foreign Correspondent,1940,16 August 1940 (USA),Alfred Hitchcock,"Charles Bennett,Joan Harrison","Joel McCrea,Laraine Day,Herbert Marshall","Joel McCrea,Laraine Day,Herbert Marshall,Georg...","English,Dutch,Latvian",USA,120 min,7.6,"12,684","124 user,73 critic","Romance,Thriller,War","Hotel de l'Europe, Nieuwe Doelenstraat 2-14, A...","On the eve of WWII, a young American reporter ..."
3,tt0889671,Trumbo,2007,27 June 2008 (USA),Peter Askin,"Christopher Trumbo,Christopher Trumbo","Dalton Trumbo,Joan Allen,Brian Dennehy","Dalton Trumbo,Joan Allen,Brian Dennehy,Michael...",English,USA,96 min,7.5,724,"14 user,33 critic","Documentary,Biography",,Through a focus on the life of Dalton Trumbo (...
4,tt1325014,The People vs. George Lucas,2010,29 August 2011 (USA),Alexandre O. Philippe,Alexandre O. Philippe,"Joe Nussbaum,Daryl Frazetti,Doug Jones","Joe Nussbaum,Daryl Frazetti,Doug Jones,Damian ...","English,French","USA,UK",93 min,6.7,"3,341","27 user,49 critic","Documentary,Comedy","Geneva, Canton de Genève, Switzerland",An examination of the widespread fan disenchan...

In [12]:
imdb_info = imdb_split[['Name', 'Director']]
rt_info = rt_split[['Name', 'Director']]

In [13]:
imdb_info.head()

                     Name           Director
0   City of Missing Girls      Elmer Clifton
1        The Gay Divorcee      Mark Sandrich
2            The Divorcée  Robert Z. Leonard
3  Hells Angels on Wheels       Richard Rush
4       The Miracle Woman        Ketan Mehta

In [14]:
rt_info.head()

                          Name               Director
0                       Psycho       Alfred Hitchcock
1              Day of the Dead       George A. Romero
2        Foreign Correspondent       Alfred Hitchcock
3                       Trumbo            Peter Askin
4  The People vs. George Lucas  Alexandre O. Philippe

In [15]:
all_info = pd.concat([imdb_info, rt_info], ignore_index=True)
all_info.head()

                     Name           Director
0   City of Missing Girls      Elmer Clifton
1        The Gay Divorcee      Mark Sandrich
2            The Divorcée  Robert Z. Leonard
3  Hells Angels on Wheels       Richard Rush
4       The Miracle Woman        Ketan Mehta

In [16]:
u_names = all_info['Name'].unique()

In [17]:
len(all_info)

16842

In [18]:
len(u_names)

9283

In [19]:
u_dirs = all_info['Director'].unique()

In [20]:
len(u_dirs)

7123

In [21]:
# lst_col = 'Director'
# x = all_info.assign(**{lst_col:all_info[lst_col].str.split(',')})

In [22]:
# x.head()

In [23]:
# all_split = pd.DataFrame({
#     col:np.repeat(x[col].values, x[lst_col].str.len())
#     for col in x.columns.difference([lst_col])
#     }).assign(**{lst_col:np.concatenate(x[lst_col].values)})[x.columns.tolist()]

In [28]:
# all_split.head()

In [26]:
# len(all_split)

In [24]:
# s_names = pd.Series(all_
#                     split['Name'].unique())
# s_dirs = pd.Series(all_split['Director'].unique())

In [25]:
# print(len(s_names))
# print(len(s_dirs))

In [29]:
all_split_code = all_info.copy()
all_split_code['Name_code'] = all_split_code['Name'].astype('category').cat.codes
all_split_code['Director_code'] = all_split_code['Director'].astype('category').cat.codes
print(all_split_code.head())
print(len(all_split_code))
print(all_split_code['Name_code'].max())
print(all_split_code['Director_code'].max())

                     Name           Director  Name_code  Director_code
0   City of Missing Girls      Elmer Clifton       1501           1927
1        The Gay Divorcee      Mark Sandrich       7230           4414
2            The Divorcée  Robert Z. Leonard       7074           5794
3  Hells Angels on Wheels       Richard Rush       3081           5615
4       The Miracle Woman        Ketan Mehta       7729           3868
16842
9282
7122

In [30]:
# s_names.to_csv('names_map.txt', sep='\t', header=False)
# s_dirs.to_csv('directors_map.txt', sep='\t', header=False)

In [46]:
u_names = all_split_code[['Name_code', 'Name']].drop_duplicates()
u_dirs = all_split_code[['Director_code', 'Director']].drop_duplicates()

In [48]:
u_names.to_csv('./data/movie_obs.txt', sep='\t', header=False, index=False)
u_dirs.to_csv('./data/directors_obs.txt', sep='\t', header=False, index=False)

In [32]:
import rltk

In [97]:
class IMDBRecord(rltk.Record):
    def __init__(self, raw_object):
        super().__init__(raw_object)
        self.name = ''
    
    @rltk.cached_property
    def id(self):
        return self.raw_object['Id']
    
    @rltk.cached_property
    def title(self):
        return self.raw_object['Name']
    
    @rltk.cached_property
    def director(self):
        return self.raw_object['Director']
    
    @rltk.cached_property
    def director_last(self):
        return self.raw_object['Director'].split()[-1]

In [98]:
imdb_ds = rltk.Dataset(rltk.DataFrameReader(imdb_split), record_class=IMDBRecord)

In [99]:
class RTRecord(rltk.Record):
    def __init__(self, raw_object):
        super().__init__(raw_object)
        self.name = ''
    
    @rltk.cached_property
    def id(self):
        return self.raw_object['Id']
    
    @rltk.cached_property
    def title(self):
        return self.raw_object['Name']
    
    @rltk.cached_property
    def director(self):
        return self.raw_object['Director']
    
    @rltk.cached_property
    def director_last(self):
        return self.raw_object['Director'].split()[-1]

In [100]:
rt_ds = rltk.Dataset(rltk.DataFrameReader(rt_split), record_class=RTRecord)

In [101]:
bg = rltk.HashBlockGenerator()
block = bg.generate(
    bg.block(imdb_ds, property_='director_last'),
    bg.block(rt_ds, property_='director_last')
)

In [38]:
# url = 'http://pages.cs.wisc.edu/~anhai/data/784_data/movies1/csv_files/labeled_data.csv'
# open('labeled_data.csv', 'wb').write(requests.get(url).content)
label_df = pd.read_csv('labeled_data.csv', sep=',', encoding='utf-8', comment='#',
                      error_bad_lines=False, warn_bad_lines=False, dtype=str, na_filter=False).fillna("")

In [39]:
label_df.head()

,_id,ltable.Id,rtable.Id,ltable.Director,ltable.Name,ltable.Year,rtable.Director,rtable.Name,rtable.YearRange,gold
0,5,tt0014341,the_last_man_on_earth_1924,"John G. Blystone,Buster Keaton",Our Hospitality,1923,John G. Blystone,The Last Man on Earth,1923 1924 1925,0
1,38,tt0021749,our-daily-bread-city-girl,Charles Chaplin,City Lights,1931,"F.W. Murnau,Friedrich Wilhelm Murnau",City Girl,1929 1930 1931,0
2,54,tt0022208,the-conquerors1932,William A. Wellman,Night Nurse,1931,William Wellman,The Conquerors,1931 1932 1933,0
3,68,tt0022550,1061171-old_dark_house,James Whale,Waterloo Bridge,1931,James Whale,The Old Dark House,1931 1932 1933,0
4,129,tt0024115,the-conquerors1932,William A. Wellman,Heroes for Sale,1933,William Wellman,The Conquerors,1931 1932 1933,0

In [146]:
true_matches_count = 0
true_matches = []
true_movie_matches = []
true_dir_matches = []
for i in range(len(label_df)):
    if label_df.iloc[i]['gold'] == '1':
        true_matches_count += 1
        true_matches.append((label_df.iloc[i]['ltable.Id'], label_df.iloc[i]['rtable.Id']))
        movie_row = {'M1': label_df.iloc[i]['ltable.Name'],
                     'M2': label_df.iloc[i]['rtable.Name']}
        dir_row = {'D1': label_df.iloc[i]['ltable.Director'],
                   'D2': label_df.iloc[i]['rtable.Director']}
        
        true_movie_matches.append(movie_row)
        true_dir_matches.append(dir_row)

In [147]:
true_movie = pd.DataFrame(true_movie_matches)
true_dir = pd.DataFrame(true_dir_matches)

In [148]:
print(true_movie.head())

                     M1                    M2
0   Pennies from Heaven   Pennies From Heaven
1          The Old Maid          The Old Maid
2              Fantasia              Fantasia
3  Phantom of the Opera  Phantom of the Opera
4         Night and Day         Night and Day

In [149]:
print(true_dir.head())

                            D1  \
0             Norman Z. McLeod
1              Edmund Goulding
2  Norman Ferguson,James Algar
3                 Arthur Lubin
4               Michael Curtiz

                                                  D2
0                     Norman McLeod,Norman Z. McLeod
1                                    Edmund Goulding
2  Deems Taylor,Hugh Douglas,Julietta Novis,Leopo...
3                     Anthony D.P. Mann,Arthur Lubin
4                                     Michael Curtiz

In [55]:
print(true_matches_count)
print(true_matches[:5])

190
[('tt0028092', 'pennies_from_heaven_1936'), ('tt0031750', 'old_maid'), ('tt0032455', 'fantasia'), ('tt0036261', 'phantom_of_the_opera_1943'), ('tt0038776', '1015000-night_and_day')]

In [56]:
import csv

In [158]:
cmp_pairs = 0
pair_count = 0

seen = set()
blocks = []
movies = []
dirs = []
    
all_pairs = rltk.get_record_pairs(rt_ds, imdb_ds, block=block)
for rt_rec, imdb_rec in all_pairs:
    cmp_pairs += 1

    rt_director_id = u_dirs.loc[u_dirs['Director'] == rt_rec.director]['Director_code'].values[0]
    imdb_director_id = u_dirs.loc[u_dirs['Director'] == imdb_rec.director]['Director_code'].values[0]
    
    rt_title_id = u_names.loc[u_names['Name'] == rt_rec.title]['Name_code'].values[0]
    imdb_title_id = u_names.loc[u_names['Name'] == imdb_rec.title]['Name_code'].values[0]

    dir_pair = (rt_director_id, imdb_director_id)
    if dir_pair not in seen:
        seen.add(dir_pair)
        block_row = {'D': rt_director_id,
                     'block': rt_rec.director_last}
        block_row = {'D': imdb_director_id,
                     'block': rt_rec.director_last}
        blocks.append(block_row)
        
    dir_row = {'D1': rt_director_id,
               'D2': imdb_director_id}
    dirs.append(dir_row)

    movie_row = {'M1': rt_title_id,
                 'M2': imdb_title_id}
    movies.append(movie_row)

    pair = (rt_rec.id, imdb_rec.id)
    if pair in true_matches:
        pair_count += 1

pd.DataFrame(blocks).to_csv('./data/director_block_obs.txt', sep='\t', header=False, index=False)
pd.DataFrame(dirs).to_csv('./data/director_target.txt', sep='\t', header=False, index=False)
pd.DataFrame(movies).to_csv('./data/movie_target.txt', sep='\t', header=False, index=False)
            
print(pair_count)
print(cmp_pairs)

164
39096

In [ ]:
pd.DataFrame(blocks).drop_duplicates().to_csv('./data/director_block_obs.txt', sep='\t', header=False, index=False)
pd.DataFrame(dirs).drop_duplicates().to_csv('./data/director_target.txt', sep='\t', header=False, index=False)
pd.DataFrame(movies).drop_duplicates().to_csv('./data/movie_target.txt', sep='\t', header=False, index=False)

In [103]:
# all_movie_director = pd.DataFrame(columns=['Name', 'Director'])
print(len(all_split_code))
movie_director = all_split_code.drop_duplicates()
print(len(movie_director))

16842
13125

In [145]:
movie_director[['Director_code', 'Name_code']].to_csv('./data/directorOf_obs.txt', sep='\t', header=False, index=False)

In [132]:
all_pairs = rltk.get_record_pairs(rt_ds, imdb_ds, block=block)
name_rows = []
name_seen = set()

director_rows = []
director_seen = set()
for rt_rec, imdb_rec in all_pairs:
#     rt_title_id = u_names.loc[u_names['Name'] == rt_rec.title]['Name_code'].values[0]
#     imdb_title_id = u_names.loc[u_names['Name'] == imdb_rec.title]['Name_code'].values[0]
#     print(rt_title_id)
#     print(imdb_title_id)
    
    pair = (rt_rec.title, imdb_rec.title)
    if pair not in name_seen:
        name_seen.add(pair)
        title_score = rltk.jaro_distance(rt_rec.title, imdb_rec.title)
    
        row = {'T1': rt_rec.title,
               'T2': imdb_rec.title,
               'sim': title_score}

        name_rows.append(row)

#     rt_director_id = u_dirs.loc[u_dirs['Director'] == rt_rec.director]['Director_code'].values[0]
#     imdb_director_id = u_dirs.loc[u_dirs['Director'] == imdb_rec.director]['Director_code'].values[0]
#     print(rt_director_id)
#     print(imdb_director_id)
#     break
    
    pair = (rt_rec.director, imdb_rec.director)
    if pair not in director_seen:
        director_seen.add(pair)
        director_score = rltk.jaro_winkler_similarity(rt_rec.director, imdb_rec.director)
        row = {'N1': rt_rec.director,
               'N2': imdb_rec.director,
               'sim': director_score}

        director_rows.append(row)

name_cmp = pd.DataFrame(name_rows)
direct_cmp = pd.DataFrame(director_rows)

In [133]:
print(len(name_cmp))
print(len(direct_cmp))

38896
6119

In [140]:
name_cmp_filt = name_cmp[name_cmp['sim'] > 0.85]
direct_cmp_filt = direct_cmp[direct_cmp['sim'] > 0.85]

print(len(name_cmp_filt))
print(len(direct_cmp_filt))

3493
2158

In [141]:
print(name_cmp_filt)

                        T1                   T2       sim
7      So Proudly We Hail!  So Proudly We Hail!  1.000000
10                 Cynthia              Cynthia  1.000000
21            The Divorcee         The Divorcée  0.944444
29      Everything Must Go   Everything Must Go  1.000000
34           The Stunt Man        The Stunt Man  1.000000
...                    ...                  ...       ...
38885             Headless             Headless  1.000000
38888                 Meru                 Meru  1.000000
38890           The Gunman           The Gunman  1.000000
38892             Vendetta             Vendetta  1.000000
38894           The Runner           The Runner  1.000000

[3493 rows x 3 columns]

In [142]:
print(direct_cmp_filt)

                             N1                         N2  sim
1                 Mark Sandrich              Mark Sandrich  1.0
3             Robert Z. Leonard          Robert Z. Leonard  1.0
5                  Richard Rush               Richard Rush  1.0
6                      Dan Rush                   Dan Rush  1.0
8                   Frank Capra                Frank Capra  1.0
...                         ...                        ...  ...
6112  Elizabeth Chai Vasarhelyi  Elizabeth Chai Vasarhelyi  1.0
6113            Daniel Millican            Daniel Millican  1.0
6114               Pierre Morel               Pierre Morel  1.0
6116               Sylvia Soska               Sylvia Soska  1.0
6117               Austin Stark               Austin Stark  1.0

[2158 rows x 3 columns]

In [143]:
name_cmp_filt.to_csv('./data/sim_movie.txt', sep='\t', header=False, index=False)
direct_cmp_filt.to_csv('./data/sim_dir.txt', sep='\t', header=False, index=False)